# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.IP/

# Logs
*.log

# Test files (optional)
test.py


# Ignore everything inside data
data/*

# But allow links folder
!data/links/
!data/issues/*

# Allow files inside links
!data/links/*
!data/issues/*

# Explicitly ignore heavy/generated data
data/chroma_db/
data/graph/
data/markdown/
data/rendered_html/