# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
 
# Virtual environments
.IP/

# Ignore things inside data
data/rendered_html/**/*.html
data/markdown/**/*.md
data/**/_chroma_db/*
data/issues/*.pkl

# lib
lib/
stash/

# Logs
*.log

# evnvironment variables
.env

# Test files (optional)
test.py

some.txt
test.md


